[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
	ignore = all
[submodule "trusted-firmware-a"]
	path = trusted-firmware-a
	url = https://git.trustedfirmware.org/TF-A/trusted-firmware-a.git
[submodule "qcbor"]
	path = qcbor
	url = https://github.com/laurencelundblade/QCBOR.git
